.questions{
    display: flex;
    justify-content: space-evenly;
}
.question, .options{
    flex-basis: 50%;
}

/* button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  } */

  button{
      width: 100%;
      cursor: pointer;
      background-color:#A239CA;
      color: #DFDCE3;
      text-align: center;
      padding: 7px;
      margin-bottom: 3px;
      font-size: 16px;
      border-radius: 10px;
  }